In [1]:
# We now know what this does
from mfpandas import DCOLLECT
d = DCOLLECT(dcollect='test_dcollect_data')
d.parse_fancycli()

26-02-19 15:38:16 - parsing test_dcollect_data
26-02-19 15:38:16 - Still Parsing your input
26-02-19 15:38:17 - Done.
26-02-19 15:38:17   - 37 V-records seen, 37 parsed
26-02-19 15:38:17   - 6704 D-records seen, 6704 parsed
26-02-19 15:38:17   - 1392 A-records seen, 0 parsed
26-02-19 15:38:17   - 12 DC-records seen, 12 parsed
26-02-19 15:38:17   - 12 SC-records seen, 0 parsed
26-02-19 15:38:17   - 2 MC-records seen, 0 parsed
26-02-19 15:38:17   - 11 SG-records seen, 0 parsed
26-02-19 15:38:17   - 471 VL-records seen, 0 parsed
26-02-19 15:38:17   - 1 BC-records seen, 0 parsed
26-02-19 15:38:17   - 1 AI-records seen, 0 parsed

In [2]:
# So it's not parsing all the record-types yet.
# Only V and D records.
print(f"There are {len(d.drecs)} datasets and {len(d.vrecs)} volumes this unload")

There are 6704 datasets and 37 volumes this unload

In [3]:
# Let's see how full our IPL volume is (ZPDT players know, that's A80)
iplvol = d.vrecs.loc[d.vrecs.DCVDVNUM=='0xa80'].values[0]
print(f"IPLVOLUME {iplvol[0]}: {iplvol[1]}% full, fragmentation index: {iplvol[5]}")

IPLVOLUME A5RES1: 52% full, fragmentation index: 24

In [4]:
# How you know to use iplvol[0] etc.?
d.vrecs.loc[d.vrecs.DCVDVNUM=='0xa80']

,DCVVOLSR,DCVPERCT,DCVFRESP,DCVALLOC,DCVVLCAP,DCVFRAGI,DCVLGEXT,DCVFREXT,DCVFDSCB,DCVFVIRS,DCVDVTYP,DCVDVNUM,DCVSGTCL,DCVDPTYP
1,A5RES1,52,4363570,3950931,8314501,24,4084623,11,1068,294,3390,0xa80,,2107

In [5]:
# Ok, so what's on that volume?
d.drecs.loc[d.drecs.DCDVOLSR=='SARES1']

,DCDDSNAM,DCDRACFD,DCDSMSM,DCDTEMP,DCDPDSE,DCDGDS,DCDREBLK,DCDCHIND,DCDCKDSI,DCDNOVVR,...,DCDUSESP,DCDSCALL,DCDNMBLK,DCDCREDT,DCDEXPDT,DCDLSTRF,DCDATCL,DCDSTGCL,DCDMGTCL,DCDSTGRP
0,SYS1.VVDS.VSARES1,False,False,False,False,False,False,False,False,False,...,0,830,0,2021-11-01,False,False,*NONE*,*NONE*,*NONE*,*NONE*
1,CATALOG.SARES1.MASTER,False,False,False,False,False,False,True,False,False,...,0,830,0,2021-11-01,1999-12-31,2022-02-12,*NONE*,*NONE*,*NONE*,*NONE*
2,CATALOG.SARES1.MASTER.CATINDEX,False,False,False,False,False,False,False,False,False,...,0,830,0,2021-11-01,1999-12-31,False,*NONE*,*NONE*,*NONE*,*NONE*
3,SYS1.S0W1.STGINDEX.DATA,False,False,False,False,False,False,True,False,False,...,0,0,0,2021-11-01,1999-12-31,2021-11-01,*NONE*,*NONE*,*NONE*,*NONE*
4,SYS1.S0W1.STGINDEX.INDEX,False,False,False,False,False,False,False,False,False,...,0,0,0,2021-11-01,1999-12-31,False,*NONE*,*NONE*,*NONE*,*NONE*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,SYS1.RACFDS,False,False,False,False,False,False,True,False,True,...,15771,0,0,1999-10-15,False,2021-11-01,*NONE*,*NONE*,*NONE*,*NONE*
224,SYS1.RACFDS.BACKUP,False,False,False,False,False,False,True,False,True,...,15771,0,0,2001-06-13,False,2021-11-01,*NONE*,*NONE*,*NONE*,*NONE*
225,SYS1.UADS,False,False,False,False,False,False,True,False,True,...,55,55,24,2003-05-17,False,2021-11-01,*NONE*,*NONE*,*NONE*,*NONE*
226,SYS1.HASPCKP2,False,False,False,False,False,False,True,False,True,...,0,0,0,2021-11-01,False,2021-11-01,*NONE*,*NONE*,*NONE*,*NONE*
227,IBMUSER.ISPF.ISPPROF,False,False,False,False,False,False,True,False,True,...,55,221,9,2021-11-01,False,2021-11-01,*NONE*,*NONE*,*NONE*,*NONE*

In [6]:
# Any spooky scary weird datasets?
d.drecs.loc[d.drecs.DCDDSNAM.str.contains('HACK')]

,DCDDSNAM,DCDRACFD,DCDSMSM,DCDTEMP,DCDPDSE,DCDGDS,DCDREBLK,DCDCHIND,DCDCKDSI,DCDNOVVR,...,DCDUSESP,DCDSCALL,DCDNMBLK,DCDCREDT,DCDEXPDT,DCDLSTRF,DCDATCL,DCDSTGCL,DCDMGTCL,DCDSTGRP
5843,FIM.HACKY,False,True,False,False,False,False,True,False,False,...,55,277,23,2023-12-11,False,2024-04-30,*NONE*,SCZDO,*NONE*,SGZDO

In [7]:
# Get the amount of dataset per HLQ
hlqs = {}
for dsn in d.drecs['DCDDSNAM'].values:
    hlq = dsn.split('.')[0]
    if hlq in hlqs:
        hlqs[hlq] += 1
    else:
        hlqs[hlq] = 1
for hlq in hlqs:
    print(f"{hlq:8s} : {hlqs[hlq]}")

SYS1     : 677
CATALOG  : 4
ISF      : 39
ISP      : 69
FFST     : 23
CSF      : 28
MSPSYS   : 1
ADCD     : 37
IBMUSER  : 19
TCPIP    : 75
CEE      : 50
GIM      : 18
CBC      : 46
HAP      : 5
IOE      : 9
ICQ      : 32
GDDM     : 26
GSK      : 3
GLD      : 11
EUVF     : 7
BBL      : 5
AOP      : 13
HLA      : 14
CNJ      : 9
BLZ702   : 46
USERCAT  : 20
NETVIEW  : 54
IZU      : 2
NFS      : 17
STCJMON  : 3
DSNC10   : 268
SYT1     : 1
DFH560   : 169
DFH550   : 171
IXGLOGR  : 12
USER     : 18
FEU      : 18
ZFS      : 23
BUZ720   : 28
CSQ920   : 99
IXM111   : 25
FAN140   : 55
QMFC10   : 147
DDC211   : 17
ADBC10   : 65
QMFC20   : 121
DBCGUTIL : 26
DSNCC10  : 429
MVS      : 15
CFZ      : 1
HKC      : 1
AZD      : 1
CSD      : 2
$$DRIVER : 1
DFSF10   : 424
DPACK    : 1
GIN143   : 28
ZMS120   : 141
AFF260   : 46
AGG710   : 44
APS470   : 58
AUT420   : 78
CCQ110   : 33
CPH530   : 43
DIT130   : 23
DWW520   : 33
HBR8A0   : 51
EEL940   : 33
ELA601   : 44
IEL530   : 25
IGY630   : 26
IAY601   : 22
ISM330   : 160
FEUD00   : 20
BGZ100   : 23
CDP210   : 37
IQI910   : 35
JVA710   : 27
JVB710   : 27
JVB800   : 27
TWS950   : 48
JVA800   : 27
KLS310   : 33
NET630   : 68
SAS210   : 36
BGY100   : 22
BAQ300   : 34
CTG930   : 34
CVG116   : 21
CYP390   : 21
DGA620   : 55
AQT750   : 57
FSY510   : 49
GTD590   : 41
AVZ110   : 63
DFSE10   : 1
GKEUKEN  : 2
STOROUT  : 1
RL2110   : 13
ZDT      : 1
MVSBUILD : 9
UPD      : 27
SMS      : 1
ISPPROF  : 1
LOG      : 1
ADCDMST  : 1
FMI      : 1
THRALL   : 1
FIM      : 51
WAS900   : 38
ZWE100   : 25
ZDO      : 1297
ZIGI     : 8
OAS      : 13
GSEUK24V : 3
DSS      : 6
TST123   : 1
ZDOLD    : 2
GSE      : 5
FIMSRVR  : 1
FIMAGNT  : 1

In [8]:
# What are those GSEUK24V datasets?
d.drecs.loc[d.drecs.DCDDSNAM.str.startswith('GSEUK24V')]

,DCDDSNAM,DCDRACFD,DCDSMSM,DCDTEMP,DCDPDSE,DCDGDS,DCDREBLK,DCDCHIND,DCDCKDSI,DCDNOVVR,...,DCDUSESP,DCDSCALL,DCDNMBLK,DCDCREDT,DCDEXPDT,DCDLSTRF,DCDATCL,DCDSTGCL,DCDMGTCL,DCDSTGRP
5423,GSEUK24V.THU.SESS9R.SLIDES,False,True,False,True,False,True,True,False,False,...,55,3320,0,2024-04-24,False,2024-04-25,*NONE*,SCZDO,*NONE*,SGZDO
5736,GSEUK24V.ZIGI.SPLASH,False,True,False,False,False,True,True,False,False,...,55,3320,0,2024-04-25,False,2024-04-25,*NONE*,SCZDO,*NONE*,SGZDO
6389,GSEUK24V.LOADLIB,False,True,False,False,False,False,True,False,False,...,1162,0,0,2024-04-25,False,2024-04-25,*NONE*,SCZDO,*NONE*,SGZDO

In [ ]:
# Can we get all the SARES1 data into an XLSx too pls? (Panda native, not yet a nice layout via mpandas)
df = d.drecs.loc[d.drecs.DCDVOLSR=='SARES1']
d.drecs.to_excel("sares1.xlsx")